{% extends 'shoplist/base.html' %}

{% block title %}Home{% endblock title %}

{% block nav-content %}
    <div class="container-fluid">
        <h2 class="text-center nav-title" style="color: #22A699;"></h2>
    </div>
    <button type="button" class="btn btn-outline-success me-2 w-100" data-bs-toggle="modal" data-bs-target="#addItemModal" data-bs-whatever="@mdo">Add New Item</button>
    <button id="btn-update" class="btn btn-outline-success me-2 w-100" type="button">Update Item</button>
    <button id="btn-delete" class="btn btn-outline-success me-2 w-100" type="button">Delete Item</button>
    <button id="btn-mark-purchased" class="btn btn-outline-success me-2 w-100" type="button">Mark Purchased</button>
    <a href="{% url 'purchased' %}" class="btn btn-outline-success me-2 w-100" type="button">View purchased and not purchased</a>
{% endblock nav-content %}


{% block table %}
    <table 
    id="table-home" 
    class="table table-striped table-dark display responsive nowrap"
    width="100%"
    style="padding-top: 0.5em;">
        <thead>
            <tr>
                <th class="text-center d-none" data-priority="5" scope="col">Order</th>
                <th class="text-center" data-priority="3" scope="col">Quantity</th>
                <th class="text-center" data-priority="1" scope="col">Name</th>
                <th class="text-center" data-priority="4" scope="col">Description</th>
                <th class="text-center" data-priority="2" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tbody-shopping">
            {% for item in items %}
                <tr class="text-center" id="tr-{{item.id}}">
                    <td class="d-none" id="{{item.id}}">{{item.id}}</td>
                    <td id="number-{{item.id}}">{{item.number}}</td>
                    <td id="name-{{item.id}}">{{item.name}}</td>
                    <td id="desc-{{item.id}}">{{item.description}}</td>
                    <td id="tdButton-{{item.id}}" class="tdButton">
                        <button 
                        type="button" 
                        class="btn btn-success btn-purchased home-purchased" 
                        data-url="{% url 'item' item.id %}"
                        data-item-id ="{{item.id}}">
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock table %}
    

{% block custom-scripts %}
{% load static %}
    <!-- Custom Script -->
    <script src="{% static 'shoplist/js/home_script.js' %}"></script>
{% endblock custom-scripts %}
    