{% extends 'shoplist/base.html' %}

{% block title %}Purchased-Page{% endblock title %}

{% block nav-content %}
    <div class="container-fluid">
        <h3 class="text-center" style="color: #22A699;">Click below to come back</h3>
    </div>
    <a href="{% url 'home' %}" class="btn btn-outline-success me-2 w-100" type="button">
        <i style="font-size: 2em;" class="bi bi-arrow-left-circle-fill"></i>
    </a>
    <a href="{% url 'account_logout' %}" class="btn btn-outline-success me-2 w-100 logout" type="button">Logout</a>
{% endblock nav-content %}


{% block table %}
    <table 
    id="table-purchased" 
    class="table table-striped table-dark display responsive nowrap"
    width="100%"
    style="padding-top: 0.5em;">
        <thead>
            <tr class="text-center">
                <th class="text-center" data-priority="4" scope="col">Quantity</th>
                <th class="text-center" data-priority="1" scope="col">Name</th>
                <th class="text-center" data-priority="5" scope="col">Description</th>
                <th class="text-center" data-priority="2" scope="col">Status</th>
                <th class="text-center" data-priority="3" scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="tbody-shopping">
            {% for item in items %}
                <tr class="text-center" id="tr-{{item.id}}">
                    <td id="number-{{item.id}}">{{item.number}}</td>
                    <td id="name-{{item.id}}">{{item.name}}</td>
                    <td id="desc-{{item.id}}">{{item.description}}</td>
                    <td 
                    id="purchased-{{item.id}}" 
                    data-purchased-value="{{item.purchased}}" 
                    style="white-space: normal; word-wrap: break-word;">
                        {% if item.purchased %}
                            Purchased
                        {% else %}
                            No Purchased
                        {% endif %}
                    </td>
                    <td id="tdButton-{{item.id}}" class="tdButton">
                        <button
                        type="button" 
                        class="btn btn-success btn-purchased" 
                        data-url="{% url 'item' item.id %}"
                        data-item-id ="{{item.id}}">
                            Click to modify
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock table %}


{% block custom-scripts %}
{% load static %}
    <!-- Custom Script -->
    <script src="{% static 'shoplist/js/purchased.js' %}"></script>
{% endblock custom-scripts %}
